<tr class="border-b">
    <th scope="row" class="align-top pt-4 pb-1 text-base font-bold text-gray-900">
        Newsletter
    </th>
    <td class="pt-4 pb-1 pl-4">
        <div>
            Monthly Goodies
        </div>
        <div class="pt-1 pb-3">
            {% if user.profile.newsletter_subscribed %}
            <span class="text-green-500">Subscribed</span>
            {% else %}
            <span class="text-red-600">Unsubscribed</span>
            {% endif %}
        </div>
    </td>
    <td class="align-top pt-4 pb-1 pl-4">
        <a href="{% url 'profile-newsletter' %}" class="text-blue-600 font-medium hover:underline">
            {% if user.profile.newsletter_subscribed %}
            Cancel
            {% else %}
            Activate
            {% endif %}
        </a>           
    </td>
</tr>
